[Unit]
Description=UrmMongo Service  
After=docker.service  
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker-compose -f /opt/gopath/src/github.com/pascallimeux/urmmongo/docker-compose.yml up --no-recreate
ExecStop=/usr/bin/docker-compose -f /opt/gopath/src/github.com/pascallimeux/urmmongo/docker-compose.yml stop

[Install]
WantedBy=multi-user.target  