[Unit]
Description=UrmMongo Service  

[Service]
ExecStart=/bin/sh -c "/data/urmmongo2/dist/start_urmmongo.sh"
ExecStop=/bin/sh -c "/data/urmmongo2/dist/stop_urmmongo.sh"

[Install]
WantedBy=multi-user.target